<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filterString" />
      <br />
      <br />
      <button class="btn btn-primary" type="button" (click)="addServer()">
        Add Server
      </button>
      <br />
      <h2>Status: {{ status | async | uppercase }}</h2>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter : filterString : 'status'"
          [ngClass]="getStatusClasses(server)"
        >
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten : 15 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date : "fullDate" }}
        </li>
      </ul>
    </div>
  </div>
</div>
